BasedOnStyle                                   : LLVM
ColumnLimit                                    : 100
NamespaceIndentation                           : All
ConstructorInitializerAllOnOneLineOrOnePerLine : true
Standard                                       : Cpp11
BreakBeforeBraces                              : Stroustrup
